[user]
	name = INOUE Takuya
	email = inouetakuya5@gmail.com
[color]
	ui = auto
[core]
        editor = emacs
	excludesfile = ~/.gitignore
[push]
        default = matching
[alias]
	co = checkout
	ci = commit -v
	st = status
	di = diff
	br = branch
	ca = commit --amend
	ai = add -i
	av = commit -av
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
