[user]
	name = INOUE Takuya
	email = inouetakuya5@gmail.com
[color]
	ui = auto
[core]
	editor = /Applications/Emacs.app/Contents/MacOS/bin/emacsclient  --alternate-editor emacs
	excludesfile = /Users/inouetakuya/.gitignore

[alias]
	co = checkout
